@import url(https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:400,700);
h1, h2, h3, h4, h5, h6 {
  color: #FFBA00;
  font-family: "Bitter", serif;
  font-weight: 400;
}

h2 {
  margin: 20px 0;
}

p {
  font-size: 1.2rem;
}

body {
  background-color: #0076A3;
  font-size: 1.2rem;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

main#main-content {
  margin-bottom: 20px;
}

footer {
  background-color: #005170;
}

.container {
  margin: 0 auto;
  width: 95%;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }
}
